{% extends 'base.html' %} {% block title %}Post detail{% endblock %} {% block
content %}

<section>
  <div>
    <h1>{{post.title}}!</h1>
    <p>{{post.content}}</p>
    <p>By {{user.first_name}} {{user.last_name}}</p>
    <div class="d-flex gap-2">
      <a href="/users/{{user.id}}"
        ><button class="btn btn-outline">Cancel</button></a
      >
      <a href="/posts/{{post.id}}/edit"
        ><button class="btn btn-primary">Edit</button></a
      >
      <form method="POST" action="/posts/{{post.id}}/delete">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
